.validation-error {
  color: red;
}

.radio-checkbox {
  display: none;
}

.filter-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.filter-labels .checkbox {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  display: inline-flex;
  align-items: center;
  margin-bottom: 25px;
}

.filter-labels .checkbox:hover {
  cursor: pointer;
}

.filter-labels .checkbox::after {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  border: solid 1px #fff;
  border-radius: 3px;
  margin-left: 14px;
}

.filter-labels .checkbox-selected::after {
  background-color: #fff;
}

@media screen and (max-width: 1250px) {
  .filter-labels .checkbox {
    font-size: 12px;
  }

  .filter-labels .checkbox::after {
    width: 15px;
    height: 15px;
  }

  .validation-error {
    font-size: 12px;
  }
}